button {
  background-color: white;
  border-style: dotted;
  border-color: #6689CB;
  color: #2A4E93;
  font-size: 26px;
  border-width: 2px;
  margin: 1px;
  padding: 10px;
  width: 200px;
  letter-spacing: 5px;
}


.wellaboutthat {
  color: #6689CB;
  border-style: dashed;
  border-width: 2px;
  width: 500px;
  margin: 50px;
}

.consequences {
  color: #2A4E93;
  margin: 50px;
  font-size: 20px;
}

.divider {
  color: #2A4E93;
}